.classBlock {
    position: absolute;
    background-color: #4a6047;
    // padding: 10px;
    // margin-bottom: 10px;
    border-radius: 5px;
    border-width: 2px;
    border-style: dashed;
  }
  
  .classBlock p {
    margin: 5px 0;
  }